

body{
    margin: 0px;
    padding: 0px;
    background: #FFF;
    font-family: Mulish;
}



button{
    border-radius: 8px;
    background: #FF5400;
    border-style: none;
    width: 174px;
    height: 52px;
}



/* nav */
nav{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
}
.nav-left{
    display: flex;
}
.nav-left h3{
    margin-left: 2vw;
}
.nav-right ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.nav-right li{
    margin-right: 2vw;
}
/* header-banner */
.header-banner{
    width: 1170px;
    height: 500px;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: auto;
}
.header-banner h1{
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    padding-top: 50px;
}
.header-banner p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.header-banner-input-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
.header-taker{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    margin-right: 5px;
    text-align: center;
}
/* header-information */
.header-information{
    display: flex;
    width: 80vw;
    margin: auto;
    margin-top: 100px;
}
.header-information-left{
    width: 60%;
}
.header-information-left h3{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.header-information-left p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.header-information-left li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.header-information-right img{
    width: 540px;
    height: 550px;
    padding-top: 20px;
}
/* center-intro */
.center-intro{
    width: 80vw;
    margin: auto;
    margin-top: 50px;
}
.center-intro h2{
    text-align: center;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.center-intro p{
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* header-img-contener */
.header-img-contener{
    width: 60vw;
    margin: auto;
    margin-top: 50px;
}
.header-img-top{
    display: flex;
}
.header-img-medile{
    display: flex;
}
.header-img-bottom{
    display: flex;
}
.header-img-top-left{
    background-image: url('Images/Rectangle\ 5.png');
    width: 573px;
    height: 300px;
}
.header-img-top-right{
    background-image: url('Images/Rectangle\ 8.png');
    width: 573px;
    height: 300px;
}
.header-img-medile-left{
    background-image: url('Images/Rectangle\ 6.png');
    width: 374px;
    height: 286px;
}
.header-img-medile-medile{
    background-image: url('Images/Rectangle\ 7.png');
    width: 474px;
    height: 286px;
}
.header-img-medile-right{
    background-image: url('Images/Rectangle\ 9.png');
    width: 288px;
    height: 286px;
}
.header-img-bottom-left{
    background-image: url('Images/Rectangle\ 11\ \(1\).png');
    width: 473px;
    height: 300px;
}
.header-img-bottom-right{
    background-image: url('Images/Rectangle\ 10.png');
    width: 673px;
    height: 300px;
}
.header-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 3px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}
/* second-intro */
.second-intro{
    width: 40vw;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.second-intro h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.second-intro p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
/* second-intro-conteiner */
.second-intro-conteiner{
    /*  */
}
.second-intro-conteiner-top{
    display: flex;
    gap: 30px;
}
.intro-conteiner{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    padding-left: 1vw;
    padding-top: 2vh;
    background: rgba(41, 206, 246, 0.05);
}
.intro-conteiner-same{
    background: rgba(233, 68, 68, 0.05);
}
.second-intro-conteiner .second-intro-conteiner-top{
    width: 50%;
    margin: auto;
}
.second-intro-conteiner .second-intro-conteiner-bottom{
    margin: 50px 0vw 10px 35vw;
}






@media (max-width: 600px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    .nav-left h3{
        font-size: 21.543px;
        font-weight: 800;
    }
    .nav-right ul{
        justify-content: center;
        margin-top: 50px;
    }
    .header-banner{
        width: 335px;
        height: 483px;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        margin: auto;
    }
    .header-banner h1{
        font-size: 22px;
        font-weight: 800;
        padding-top: 10px;
    }
    .header-banner p{
        font-size: 14px;
        font-weight: 400;
    }
    .header-banner-input-section{
        flex-direction: column;
    }
    .header-taker{
        width: 255px;
        height: 52px;
        margin-top: 1vh;
    }
    .header-information{
        flex-direction: column;
        width: 80vw;
        margin: auto;
        margin-top: 100px;
    }
    .header-information-left{
        width: 100%;
    }
    .header-information-left h3{
        font-size: 20px;
        font-weight: 800;
    }
    .header-information-left p{
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
    }
    .header-information-left li{
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
    }
    .header-information-right img{
        width: 305px;
        height: 322px;
    }
    .center-intro h2{
        font-size: 20px;
        font-weight: 800;
    }
    .header-img-top{
        flex-direction: column;
    }
    .header-img-medile{
        flex-direction: column;
    }
    .header-img-bottom{
        flex-direction: column;
    }
    .header-img{
        width: 305px;
        height: 176px;
        margin-top: 3px;
    }
    .header-img-contener{
        width: 83%;
    }
    .second-intro{
        width: 90vw;
    }
    .second-intro h2{
        font-size: 20px;
        font-weight: 800;
    }
    .second-intro-conteiner-top{
        flex-direction: column;
        gap: 0px;
    }
    .intro-conteiner{
        width: 335px;
        height: 289px;
        border-radius: 16px;
        padding-left: 1vw;
        padding-top: 2vh;
    }
    .second-intro-conteiner .second-intro-conteiner-top{
        width: 85%;
        margin: auto;
    }
    .second-intro-conteiner .second-intro-conteiner-bottom{
        width: 85%;
        margin: auto;
    }

}


















































